@page "/Users/List"
@model AdminPortal.Web.Pages.Users.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="form-group">
	<form method="get">
		<div class="input-group">
			@if (Model.PhoneNumber == null)
			{
				<input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Enter Phone Number to search" />
			}
			else
			{
				<input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="@Model.PhoneNumber" />
			}
			<button asp-page="/Users/List" class="btn btn-primary" type="submit">Search</button>
		</div>
	</form>
</div>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.User[0].PhoneNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User[0].IsAdmin)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User[0].IsLoggedIn)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model.User) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.PhoneNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsAdmin)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsLoggedIn)
			</td>
			<td>
				<a asp-page="./Edit" asp-route-id="@item.PhoneNumber">Edit</a> |
				<a asp-page="./Details" asp-route-id="@item.PhoneNumber">Details</a> |
				<a asp-page="./Delete" asp-route-id="@item.PhoneNumber">Delete</a>
			</td>
		</tr>
}
	</tbody>
</table>
