@page
@model AdminPortal.Web.Pages.Alerts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alerts[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alerts[0].AssetID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Alerts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AlertID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AlertID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AlertID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
